<h4>Add more defintions for <%=@word_to_display.word%>:</h4>
<form action="/add_def/" method="post">
  <div class="form-group">
    <label for="moreDef">Define: </label>
    <input id="moreDef" name="moreDef" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add definition</button>
</form>


<h5><a href='/'>Go back to list of words</a></h5>
