.form-control {
  width: 50%
}

.picture {
  border-radius: 10%;
  width: 30%;
  display: block;
}

img {
  display: block;
  border-radius: 5%  
}

h1 {
  font-family: serif;
}

h4 {
  font-family: monospace;
}
body {
  background-color: teal;
}

a {
  color: hotpink;
}
